/*tipe penulisan ada 3 macam yaitu inline, internal CSS dan External CSS.
		Ini merupkan contoh css tipe External CSS = Maksudnya adalah menulis kodingan css file terpisah dengan extensi file .css atau berada diluar dari file html, sedangkan external CSS
		menulis kodingan CSS pada file terpisah dengan extensi file .css.
		dalam file ini kita akan menggunakan inline CSS*/
	    
/*memberi gaya/warna pada header*/

header{
	background-color: red;
	padding: 50px;
	position: center;
}

/*memberi gaya/warna pada navbar*/
nav{
  	background-color: green;
  	padding: 5px;
}

ul {
  list-style-type: none;
  margin: 15px;
  padding: 15px;

}

li {
	float: right;
}

a {
  color: #000;
  padding-top: 0;
  padding: 5px 16px;
  text-decoration: none;
}

/* mengubah warna saat menu dipilih */
li a:hover {
  background-color: black;
  color: white;
}

/*memberi gaya/warna pada header mneggunakan atribute class*/
.section1 { 
  	background-color: white;
  	padding: 50px;
  	font-family: "Times New Roman";
}

/*memberi gaya/warna pada header mneggunakan atribute id*/
#sectionId { 
  	background-color: yellow;
  	padding: 50px;
  	font-family: arial;
}

/*memberi gaya/warna pada footer*/
footer {
	background-color: gray;
	padding: 20px;
}

h1{
	font-style: bold;
	font-size: 30px;
	text-align: center;
}

/*catatan : untuk selector bisa berupa tag/element seperti : body, h1, h2, section, dll
	contoh : nama_tag{
				background-color: green;
			}


			untuk selector bisa berupa atribute seperti : id, class
				#nama_id{
					background-color: green;
				}

			untuk selector bisa berupa atribute seperti : id, class
				.nama_class{
					background-color: green;
				}

untuk melihat jenis property silahkan kunjungi https://www.w3schools.com/cssref/css3_pr_all.asp 


				*/


